html{
    font-size: 14px;
}

h1 h2 h3 h4 h5 p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.page{
    max-width: 1445px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding-top: 33px;
    width: calc(100% - 500px);
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header__link{
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    font-family: Gilroy-Bold;
    margin-bottom: 32px;
    transition: opacity 0.6s linear;
}
.header__link:hover{
    opacity: 0.6;
}

.header__link_active{
    color: #070707;
}


.lead{
    max-width: calc(100% - 500px);
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 104px;
}

.lead__vector{
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-bottom: 40px;
    
}

.lead__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "Name age ruen"
    "img img img" 
    ;
    row-gap:30px ;
}

.lead__name{
    align-self: stretch;
    margin: 0;
    width: 124px;
    grid-area:Name;
    color: #070707;
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    line-height: 59px;
}

.lead__age{
    margin: 0;
    max-width: 156px;
    grid-area:age;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    justify-self: center;
}

.lead__links{
    margin: 0;
    grid-area:ruen;
    -webkit-transform: rotate(-90deg);
     transform: rotate(-90deg);
     transition: opacity 0.6s linear;
     justify-self: end;
    align-self: self-start;
}

.lead__links:hover{
    opacity: 0.6;
}

.lead__link{
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}


.lead__link_active{
    color: #070707;
}

.lead__img{
    grid-area: img;
    max-width: 945px;
    width: 100%;
}

.intro{
    width: 100%;
    background-color:  #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-bottom:107px ;
}
.intro__title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.intro__text{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #070707;
    max-width: 485px;
    margin-left: auto;
    margin-right: auto;
}

.skills{
    margin-top:91px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 100%;
}

.skills__title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 69px;
}

.skills__subtitle{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 84px;
}

.skills__ilustrates{
    display: flex;
    justify-self: center;
    margin: auto;
    gap: 90px;
}

.skills__ilustrate{
    display: flex;
    flex-direction: column;
    
}

.skills__image{
    width: 100%;
    max-width: 89.07px;
    margin: auto;
    margin-bottom: 24px;
    
}

.skills__text{
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin: auto;
    margin-bottom: 21px;
    max-width: 70px;
    width: 100%;
}

.skills__stars{
    margin: auto;
}
.skills__image_figma{
    Width:58px;
}

.portfolio{
    padding-top: 112px;
    margin-bottom: 114px;
    background-color:#F6F6F6;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.portfolio__title{
    margin-bottom: 47px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.portfolio__image{
    max-width: 100%;
    margin: auto;
}

.portfolio__link{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 44px;
    margin-bottom: 99px;
    color: #070707;
    transition: opacity 0.6s linear;
}

.portfolio__link:hover{
opacity: 0.6;
}

.footer{
    margin-top: 114px;
    margin-bottom:123px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.footer__title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 20px;
}

.footer__subtitle{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 275px;
    margin: auto;
    margin-bottom: 29px;
}

.footer__button{
    width:180px;
    height: 42px;
    background-color: #070707;
    margin:auto;
    box-sizing: content-box;
    border-radius: 25px;
    border-color: #070707;
    margin-bottom:86px;
}

.footer__button_text{
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.footer__icons{
    display: flex;
    gap: 61px;
    margin: auto;
    margin-bottom: 45px;
}

.footer__icon{
    margin: 0;
}

.footer__text{
    Width:243px;
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin: auto;
   
}

@media screen and (max-width: 1000px){
    .skills__ilustrates{
        flex-direction: column;
        gap: 90px;
    }

    .lead{
        margin: auto;
    }

    .lead__name{
        width: 80px;
        font-size: 30px;
        line-height: 40px;
    }
}