html{
    font-size: 14px;
}

h1 h2 h3 h4 h5 p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.page{
    max-width: 1445px;
    width: 100%;
    margin: 0 auto;
}

.header{
    padding-top: 33px;
    width: calc(100% - 500px);
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header__link{
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    font-family: Gilroy-Bold;
    margin-bottom: 32px;
    transition: opacity 0.6s linear;
}
.header__link:hover{
    opacity: 0.6;
}

.header__link_active{
    color: #070707;
}


.lead{
    max-width: calc(100% - 500px);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.lead__vector{
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-bottom: 40px;
    
}

.lead__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "Name age ruen"
    "img img img" 
    ;
    row-gap:30px ;
}

.lead__name{
    align-self: stretch;
    margin: 0;
    max-width: 124px;
    grid-area:Name;
    color: #070707;
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    line-height: 59px;
}

.lead__age{
    margin: 0;
    max-width: 156px;
    grid-area:age;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    justify-self: center;
}

.lead__links{
    margin: 0;
    grid-area:ruen;
    -webkit-transform: rotate(-90deg);
     transform: rotate(-90deg);
     transition: opacity 0.6s linear;
     justify-self: end;
    align-self: self-start;
}

.lead__links:hover{
    opacity: 0.6;
}

.lead__link{
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}


.lead__link_active{
    color: #070707;
}

.lead__img{
    grid-area: img;
    max-width: 945px;
    width: 100%;
}
